
@{
    ViewData["Title"] = "Index";
    Layout="~/Views/Shared/_Layout.cshtml";
}
<h1>Index page</h1>
<p>This is my Home page</p>
@*Razor view*@
@*@{
    int age=20;
    string name="Hamza";
    var gender="male";
}
<h1>Home<br></h1>
<h2> My age is @age</h2>
<h2> My name is @name</h2>
<h2> My gender is @gender</h2>

    @{
        for(int i=1;i<=10; i++){
            <h2>@i</h2>
        }
    }*@

